* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-bg-primary);
  font-family: var(--font-family-primary);
  padding: var(--space-3);
  width: 100%;
}
